<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383975154101-577k1tnqavpr7rk0nk82g9d2skppi4rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383975154101-577k1tnqavpr7rk0nk82g9d2skppi4rs</string>
	<key>API_KEY</key>
	<string>AIzaSyBn5GSUpIYySvnp3hUcVjIFWxqhLJNw5s4</string>
	<key>GCM_SENDER_ID</key>
	<string>383975154101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darkfox.maproadpit</string>
	<key>PROJECT_ID</key>
	<string>maproadpit</string>
	<key>STORAGE_BUCKET</key>
	<string>maproadpit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383975154101:ios:e4095f8cd4a35be46539fc</string>
	<key>DATABASE_URL</key>
	<string>https://maproadpit.firebaseio.com</string>
</dict>
</plist>